.App {
  text-align: center;
}

/* Profile */

.avatar {
  width: 100px;
  border-radius: 50%;
}

.profile {
  text-align: center;
  margin: 0 auto;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 250px;
  padding-top: 20px;
  box-shadow: 9px -8px 18px 0px rgba(0, 0, 0, 0.75);
}

.description {
  background-color: white;
}

.name {
  font-size: large;
  font-weight: 500;
  margin-bottom: 10px;
}

.tag {
  font-size: medium;
  font-weight: 400;
  color: rgb(207, 203, 203);
  margin-bottom: 5px;
}

.location {
  font-size: medium;
  font-weight: 400;
  color: rgb(207, 203, 203);
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 210, 210);
  border: 1px solid rgb(223, 220, 220);
  gap: 5px;
  padding: 15px;
  width: 100%;
}

.stats {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

/* statistic */

.statistics {
  width: 300px;
  border: 1px solid black;
}

.title {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.item1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  width: 100%;
}

.color {
  background-color: aqua;
}

.color1 {
  background-color: blueviolet;
}

.color2 {
  background-color: brown;
}

.stat-list {
  display: flex;
}
